USE [AttendanceSystem]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Student_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Student]'))
ALTER TABLE [dbo].[Student] DROP CONSTRAINT [FK_Student_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Professor_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Professor]'))
ALTER TABLE [dbo].[Professor] DROP CONSTRAINT [FK_Professor_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Enrollment_Student]') AND parent_object_id = OBJECT_ID(N'[dbo].[Enrollment]'))
ALTER TABLE [dbo].[Enrollment] DROP CONSTRAINT [FK_Enrollment_Student]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Enrollment_Class]') AND parent_object_id = OBJECT_ID(N'[dbo].[Enrollment]'))
ALTER TABLE [dbo].[Enrollment] DROP CONSTRAINT [FK_Enrollment_Class]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CourseClass_Professor]') AND parent_object_id = OBJECT_ID(N'[dbo].[CourseClass]'))
ALTER TABLE [dbo].[CourseClass] DROP CONSTRAINT [FK_CourseClass_Professor]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Schedule_Class]') AND parent_object_id = OBJECT_ID(N'[dbo].[ClassSchedule]'))
ALTER TABLE [dbo].[ClassSchedule] DROP CONSTRAINT [FK_Schedule_Class]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttendanceSession_Class]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttendanceSession]'))
ALTER TABLE [dbo].[AttendanceSession] DROP CONSTRAINT [FK_AttendanceSession_Class]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttendanceRecord_Student]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttendanceRecord]'))
ALTER TABLE [dbo].[AttendanceRecord] DROP CONSTRAINT [FK_AttendanceRecord_Student]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AttendanceRecord_Session]') AND parent_object_id = OBJECT_ID(N'[dbo].[AttendanceRecord]'))
ALTER TABLE [dbo].[AttendanceRecord] DROP CONSTRAINT [FK_AttendanceRecord_Session]
GO
/****** Object:  Index [UQ__User__F3DBC572CC59C538]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND name = N'UQ__User__F3DBC572CC59C538')
ALTER TABLE [dbo].[User] DROP CONSTRAINT [UQ__User__F3DBC572CC59C538]
GO
/****** Object:  Index [UQ__User__F3DBC572AEFF4628]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND name = N'UQ__User__F3DBC572AEFF4628')
ALTER TABLE [dbo].[User] DROP CONSTRAINT [UQ__User__F3DBC572AEFF4628]
GO
/****** Object:  Index [UQ__Student__CB9A1CDEB57428C3]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND name = N'UQ__Student__CB9A1CDEB57428C3')
ALTER TABLE [dbo].[Student] DROP CONSTRAINT [UQ__Student__CB9A1CDEB57428C3]
GO
/****** Object:  Index [UQ__Student__CB9A1CDEA2F5A9E7]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND name = N'UQ__Student__CB9A1CDEA2F5A9E7')
ALTER TABLE [dbo].[Student] DROP CONSTRAINT [UQ__Student__CB9A1CDEA2F5A9E7]
GO
/****** Object:  Index [UQ__Professo__CB9A1CDEB0C77F89]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Professor]') AND name = N'UQ__Professo__CB9A1CDEB0C77F89')
ALTER TABLE [dbo].[Professor] DROP CONSTRAINT [UQ__Professo__CB9A1CDEB0C77F89]
GO
/****** Object:  Index [UQ__Professo__CB9A1CDE2E228385]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Professor]') AND name = N'UQ__Professo__CB9A1CDE2E228385')
ALTER TABLE [dbo].[Professor] DROP CONSTRAINT [UQ__Professo__CB9A1CDE2E228385]
GO
/****** Object:  Index [UQ_Enrollment]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Enrollment]') AND name = N'UQ_Enrollment')
ALTER TABLE [dbo].[Enrollment] DROP CONSTRAINT [UQ_Enrollment]
GO
/****** Object:  Index [UQ_Attendance]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AttendanceRecord]') AND name = N'UQ_Attendance')
ALTER TABLE [dbo].[AttendanceRecord] DROP CONSTRAINT [UQ_Attendance]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND type in (N'U'))
DROP TABLE [dbo].[Student]
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Professor]') AND type in (N'U'))
DROP TABLE [dbo].[Professor]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Enrollment]') AND type in (N'U'))
DROP TABLE [dbo].[Enrollment]
GO
/****** Object:  Table [dbo].[CourseClass]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CourseClass]') AND type in (N'U'))
DROP TABLE [dbo].[CourseClass]
GO
/****** Object:  Table [dbo].[ClassSchedule]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClassSchedule]') AND type in (N'U'))
DROP TABLE [dbo].[ClassSchedule]
GO
/****** Object:  Table [dbo].[AttendanceSession]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttendanceSession]') AND type in (N'U'))
DROP TABLE [dbo].[AttendanceSession]
GO
/****** Object:  Table [dbo].[AttendanceRecord]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttendanceRecord]') AND type in (N'U'))
DROP TABLE [dbo].[AttendanceRecord]
GO
USE [master]
GO
/****** Object:  Database [AttendanceSystem]    Script Date: 26/01/2026 9:02:11 SA ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'AttendanceSystem')
DROP DATABASE [AttendanceSystem]
GO
/****** Object:  Database [AttendanceSystem]    Script Date: 26/01/2026 9:02:11 SA ******/
CREATE DATABASE [AttendanceSystem]
GO
USE [AttendanceSystem]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AttendanceSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AttendanceSystem]
GO
/****** Object:  Table [dbo].[AttendanceRecord]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecord](
	[attendanceID] [varchar](50) NOT NULL,
	[sessionID] [varchar](50) NOT NULL,
	[studentID] [varchar](50) NOT NULL,
	[status] [varchar](20) NULL,
	[checkinMethod] [varchar](50) NULL,
	[checkinTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[attendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceSession]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceSession](
	[sessionID] [varchar](50) NOT NULL,
	[classID] [varchar](50) NOT NULL,
	[sessionDate] [datetime] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[sessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSchedule]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSchedule](
	[scheduleID] [int] IDENTITY(1,1) NOT NULL,
	[classID] [varchar](50) NOT NULL,
	[dayOfWeek] [int] NOT NULL,
	[startTime] [time](7) NOT NULL,
	[endTime] [time](7) NOT NULL,
	[room] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[scheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseClass]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseClass](
	[classID] [varchar](50) NOT NULL,
	[className] [varchar](50) NOT NULL,
	[professorID] [varchar](50) NULL,
	[room] [varchar](50) NULL,
	[startTime] [time](7) NULL,
	[endTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[classID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[enrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[classID] [varchar](50) NOT NULL,
	[studentID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[professorID] [varchar](50) NOT NULL,
	[userID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[professorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [varchar](50) NOT NULL,
	[userID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/01/2026 9:02:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[email] [varchar](100) NULL,
	[role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AttendanceRecord] ([attendanceID], [sessionID], [studentID], [status], [checkinMethod], [checkinTime]) VALUES (N'ATT-SES-C-0002-20260126-S-0001', N'SES-C-0002-20260126', N'S-0001', N'Present', N'Manual', CAST(N'2026-01-26T08:02:14.737' AS DateTime))
INSERT [dbo].[AttendanceRecord] ([attendanceID], [sessionID], [studentID], [status], [checkinMethod], [checkinTime]) VALUES (N'ATT-SES-C-0002-20260126-SV18', N'SES-C-0002-20260126', N'SV18', N'Present', N'Manual', CAST(N'2026-01-26T08:02:22.637' AS DateTime))
INSERT [dbo].[AttendanceRecord] ([attendanceID], [sessionID], [studentID], [status], [checkinMethod], [checkinTime]) VALUES (N'ATT-SES-C-0002-20260126-SV19', N'SES-C-0002-20260126', N'SV19', N'Present', N'Manual', CAST(N'2026-01-26T08:02:23.373' AS DateTime))
GO
INSERT [dbo].[AttendanceSession] ([sessionID], [classID], [sessionDate], [status]) VALUES (N'SES-C-0002-20260126', N'C-0002', CAST(N'2026-01-26T08:01:57.143' AS DateTime), N'Open')
INSERT [dbo].[AttendanceSession] ([sessionID], [classID], [sessionDate], [status]) VALUES (N'SES-IT01-TODAY', N'IT01', CAST(N'2026-01-26T00:06:04.990' AS DateTime), N'Open')
INSERT [dbo].[AttendanceSession] ([sessionID], [classID], [sessionDate], [status]) VALUES (N'SES-IT01-WK1', N'IT01', CAST(N'2026-01-12T00:06:04.980' AS DateTime), N'Closed')
GO
INSERT [dbo].[CourseClass] ([classID], [className], [professorID], [room], [startTime], [endTime]) VALUES (N'C-0001', N'Lap trinh Python', N'GV05', N'C.002', CAST(N'09:20:00' AS Time), CAST(N'10:20:00' AS Time))
INSERT [dbo].[CourseClass] ([classID], [className], [professorID], [room], [startTime], [endTime]) VALUES (N'C-0002', N'Dai so', N'P-0001', N'IT11', CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[CourseClass] ([classID], [className], [professorID], [room], [startTime], [endTime]) VALUES (N'IT01', N'Lap trinh C', N'GV01', N'P.301', CAST(N'07:00:00' AS Time), CAST(N'11:00:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([enrollmentID], [classID], [studentID]) VALUES (188, N'C-0001', N'S-0001')
INSERT [dbo].[Enrollment] ([enrollmentID], [classID], [studentID]) VALUES (186, N'C-0001', N'SV06')
INSERT [dbo].[Enrollment] ([enrollmentID], [classID], [studentID]) VALUES (187, N'C-0001', N'SV08')
GO
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
INSERT [dbo].[Professor] ([professorID], [userID]) VALUES (N'P-0001', N'U-0021')
INSERT [dbo].[Professor] ([professorID], [userID]) VALUES (N'GV01', N'U-GV01')
INSERT [dbo].[Professor] ([professorID], [userID]) VALUES (N'GV02', N'U-GV02')
GO
INSERT [dbo].[Student] ([studentID], [userID]) VALUES (N'S-0001', N'U-0022')
INSERT [dbo].[Student] ([studentID], [userID]) VALUES (N'SV01', N'U-SV01')
INSERT [dbo].[Student] ([studentID], [userID]) VALUES (N'SV02', N'U-SV02')
GO
INSERT [dbo].[User] ([userID], [username], [password], [fullName], [email], [role]) VALUES (N'U-0021', N'trong', N'123', N'Huynh Phuoc Trong', N'', N'Professor')
INSERT [dbo].[User] ([userID], [username], [password], [fullName], [email], [role]) VALUES (N'U-0022', N'khang', N'123', N'Ngo Van Duy Khang', N'', N'Student')
INSERT [dbo].[User] ([userID], [username], [password], [fullName], [email], [role]) VALUES (N'U-ADMIN01', N'admin', N'123', N'Quản Trị Viên Hệ Thống', N'admin@ams.edu', N'Admin')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Attendance]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[AttendanceRecord] ADD  CONSTRAINT [UQ_Attendance] UNIQUE NONCLUSTERED 
(
	[sessionID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Enrollment]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [UQ_Enrollment] UNIQUE NONCLUSTERED 
(
	[classID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Professo__CB9A1CDE2E228385]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[Professor] ADD UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Professo__CB9A1CDEB0C77F89]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[Professor] ADD UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__CB9A1CDEA2F5A9E7]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__CB9A1CDEB57428C3]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC572AEFF4628]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC572CC59C538]    Script Date: 26/01/2026 9:02:11 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendanceRecord]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecord_Session] FOREIGN KEY([sessionID])
REFERENCES [dbo].[AttendanceSession] ([sessionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttendanceRecord] CHECK CONSTRAINT [FK_AttendanceRecord_Session]
GO
ALTER TABLE [dbo].[AttendanceRecord]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecord_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttendanceRecord] CHECK CONSTRAINT [FK_AttendanceRecord_Student]
GO
ALTER TABLE [dbo].[AttendanceSession]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceSession_Class] FOREIGN KEY([classID])
REFERENCES [dbo].[CourseClass] ([classID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttendanceSession] CHECK CONSTRAINT [FK_AttendanceSession_Class]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Class] FOREIGN KEY([classID])
REFERENCES [dbo].[CourseClass] ([classID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [FK_Schedule_Class]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [FK_CourseClass_Professor] FOREIGN KEY([professorID])
REFERENCES [dbo].[Professor] ([professorID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [FK_CourseClass_Professor]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Class] FOREIGN KEY([classID])
REFERENCES [dbo].[CourseClass] ([classID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Class]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
ALTER TABLE [dbo].[Professor]  WITH CHECK ADD  CONSTRAINT [FK_Professor_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Professor] CHECK CONSTRAINT [FK_Professor_User]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_User]
GO
USE [master]
GO
